.document_wrapper a {
    height: 50px;
    width: 100px;
    color: whitesmoke;
    display: inline-block;
    margin-right: 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.twitter {
    background-color: skyblue;
}

.uniqlo {
    background-color: red;
}

.aeon {
    background-color: blueviolet;
}

.document_wrapper a:hover {
    color:chocolate;
    box-shadow: 7px 5px 5px coral;
}

li:active {
    position: relative;
    top: 5px;
    text-shadow: none
}